@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,outfit;
    overflow-x: hidden;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100px;
    box-shadow: 0 0 20px 0 rgb(212, 210, 210);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.logo img{
    width: 40px;
}
.logo p{
    font-size: x-large;
}
.search{
    width: 45vw;
    display: flex;
    gap: 20px;
    background-color: white;
    align-items: center;
    
}
.search img{
    width: 35px;
    height: 30px;
}
.search input{
    padding: 15px 0;
    border: none;
    outline: none;
}
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 20vw;
    justify-content: center;
}
.cart div{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    height: 100%;

}
.wishlist{
    display: flex;
    flex-direction: column;
    width: 8vw;
    justify-content: center;
    align-items: center;
}
.icons img{
    width: 27px;  
}
.icons p{
    font-size: small;
    text-align: center;
}
.cart{
    display: flex;
    flex-direction: column;
    width: 8vw;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    /* position: relative; */
}
#cart-value{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: small;
    width: 15px;
    text-align: center;
    top: 0;
    z-index: 1;
    right: 0;
}
.bg{
    width: 100vw;
}
.product-list{
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    gap: 30px;
    justify-content: center;
}
.filters{
    display: grid;
    place-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0 rgb(211, 208, 208);
    border-radius: 8px;
    justify-content: center;
    align-items: flex-start;
    /* padding-bottom: 7px; */
}
.product h3{
    font-size: smaller;
}
.product p{
    font-size: smaller;
}
.product img{
    width: 100%;
    height: 300px;
}
.product button{
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.items-images{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    
}
.items-images .wish{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.cart-sidebar{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    background-color: beige;
    color:  black;
    gap: 20px;
    align-items: center;
    z-index: 1000;
}
.align{
    display: flex;
    gap:150px;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;

}
.cart-items img{
    width: 40px;
}
.align img
{
    width: 50px;
    height: 50px;
}
.align p{
    font-size: small;
}
.cart-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
}
.added-items{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
}
.added-items p{
    font-size: small;
}
.buttons{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.buttons button{
    border: none;
    outline: none;
    padding: 10px 0;
    width: 50%;
}
.close{
    background-color: white;
}
.checkout{
    background-color: yellow;
}
.cart-item{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 40%;
}
.sub-align{
    display: flex;
    gap: 25px;
    align-items: center;
}
.items-images{
    position: relative;
    width: 100%;
}
.wish{
position: absolute;
right: 3px;
top: 0;
}
.footer {
    width: 100%;
    background-color: #403d3d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-links {
    display: flex;
    gap: 20px;
}
.footer-links a {
    color: #ffd700;
    text-decoration: none;
    font-size: 0.95rem;
}
.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content {
        font-size: 0.9rem;
    }
    .footer-links {
        flex-direction: column;
        gap: 8px;
    }
}

@media(max-width: 768px) {
    .product-list{
        grid-template-columns: 45vw 45vw;
    }
    .cart-sidebar{
        width: 100%;
    }
    .align{
        display: flex;
        gap: 30px;
    }
    .sub-align{
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }
    .added-items{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
    .cart-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .added-items p{
        font-size: xx-small;
    }
    .search{
        width: 20vw;
    }
    .search-input{
        width: 100%;
    }
    .search img{
       display: none;
    }
    .icons p{
        display: none;
    }
    .logo img{
        width: 30px;
    }
    .logo p{
        font-size: medium;
    }
   
}
@media(max-width: 500px) {
    .product-list{
        grid-template-columns: 100%;
    }
    .cart-sidebar{
        width: 100%;
    }
    .align{
        display: flex;
        align-items: center;
        gap: 155px;
    }
    .sub-align{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .added-items{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .cart-item{
        display: flex;
        align-items: center;
    }
}